*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
}

.header-section{
    height: 100vh;
    background-image: url(../img/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;

   & header{
    display: flex;
    justify-content: space-between;
    padding: 16px 92px;


    & nav {
        display: flex;
        gap: 40px;

        
        
        & a {
            color: white;
            font-size: 18px;
            padding: 10px;
        }

        
        
        & :last-child {
            color: rgba(255, 255, 255, 0.568);
        }
    }
    .btns {
        display: flex;
        gap: 16px;
        & a {
            padding: 11px 16px;
            border-radius: 8px;
            background-color: #3B44F6;
            color: white;
        }
        & a:last-child {
            background-color: transparent;
            border: 1px solid white;
        }
    }
   }
   
   .cor {
    color: rgba(255, 255, 255, 0.568);
    padding: 10px;

   }

   & #hero {
            margin-top: 197px;
            margin-left: 95px;
            
            
            color: #ffffff;
            & h1 {
                font-size: 48px;
                margin-bottom: 26px;
            }
            & p{
                width: 417px;
                font-size: 24px;
                
            }
            
            & a{
                display: inline-block;
                background-color: #3B44F6;
                padding: 16px 32px;
                border-radius: 8px;
                color: white;
                margin-top: 64px;
            } 
        }
    }
    main {

    & #Why-bg {
        max-width: 913px;
        margin: auto;
        padding: 70px 70px;
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & .title{
            & p{
                font-size: 18px;
                color: #323232;
                width: 473px;
                
            }
           
             & h2{
            margin-bottom: 16px;
            font-size: 36px;
            color: #181818;
        }

        }
        & .cards{
            display: flex;
            align-items: flex-start;
            gap: 83px;

            & .card{
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 21px;

                & img {
                    width: 94px;
                
                }
                & p{
                    width: 202px;
                }
            }
        }

    }   

   & #games-ge{

.games-genre-section {
  padding: 40px 92px 40px 92px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1096px;
  position: relative;
}
.games-genres {
  color: var(--natural-color-black, #181818);
  text-align: left;
  font-family: var(
    --heading-heading-3-font-family,
    "Lexend-SemiBold",
    sans-serif
  );
  font-size: var(--heading-heading-3-font-size, 36px);
  line-height: var(--heading-heading-3-line-height, 140%);
  font-weight: var(--heading-heading-3-font-weight, 600);
  position: relative;
}
.see-all-genres {
  color: var(--primary-color-blue, #3b44f6);
  text-align: right;
  font-family: var(
    --subtitle-subtitle-1-medium-font-family,
    "Lexend-SemiBold",
    sans-serif
  );
  font-size: var(--subtitle-subtitle-1-medium-font-size, 18px);
  line-height: var(--subtitle-subtitle-1-medium-line-height, 150%);
  font-weight: var(--subtitle-subtitle-1-medium-font-weight, 600);
  position: relative;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cardsgames{
  border-radius: 8px;
  flex-shrink: 0;
  width: 169px;
  height: 169px;
  position: relative;
  box-shadow: var(
    --card-shadow-medium-box-shadow,
    0px 8px 20px 0px rgba(140, 131, 131, 0.25)
  );
  overflow: hidden;
}
.bg-image {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 199px;
  height: 199px;
  position: absolute;
  left: -15px;
  top: -15px;
  object-fit: cover;
}
.strategy {
  color: var(--natural-color-white-50, #f5f4f9);
  text-align: center;
  font-family: var(
    --heading-heading-6-font-family,
    "Lexend-Medium",
    sans-serif
  );
  font-size: var(--heading-heading-6-font-size, 20px);
  line-height: var(--heading-heading-6-line-height, 130%);
  font-weight: var(--heading-heading-6-font-weight, 500);
  position: absolute;
  left: 0px;
  top: 71px;
  width: 169px;
}
.strategy2 {
  color: #f5f4f9;
  text-align: center;
  font-family: "Lexend-Medium", sans-serif;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 71px;
  width: 169px;
}
} 

   .meio{
  .best-seller{
    padding: 30px 0;
}

.titulo-secao{
    font-size: 36px;
    margin-left: 356px;
    margin-bottom: 18px;

}
.lista-jogos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card-jogo{
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 16px 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 8px 10px rgba(164, 164, 164, 0.07);
}

.imagem-jogo{
    width: 230px;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

.informacoes-jogo{
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nome-jogo{
    font-size: 20px;
}

.preco-jogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-atual{
    color: #3b44f6;
    font-weight: 500;
}

.desconto-jogo{
    background: #f5f4f9;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
}

.porcentagem{
    background: rgba(252, 50, 111, 0.2);
    color: #fc326f;
    padding: 3px;
    border-radius: 4px;
    font-size: 12px;
}

.preco-antigo{
    color: #7d7d7d;
    text-decoration: line-through;
    font-size: 14px;
}

.gratis{
    background: #d8dafd;
    color: #3b44f6;
    padding: 6px 10px;
    border-radius: 4px;
    width: fit-content;
}
}

 & #popular{

    .jogos-p3{
    padding:30px 362px 100px 362px;
}

.topo-p3{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.titulo-p3{
    font-size:36px;
}

.link-p3{
    color:#3b44f6;
    font-weight:bold;
}

.conteudo-p3{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.linha-p3{
    display:flex;
    gap:16px;
}

.caixa-p3{
    width:262px;
    background:#fff;
    border:1px solid #d1d1d1;
    border-radius:8px;
    padding:16px;
}

.foto-p3{
    width:230px;
    height:220px;
    object-fit:cover;
}

.jogo-p3{
    font-size:20px;
}

.valores-p3{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.atual-p3{
    color:#3b44f6;
    font-weight:bold;
}

.promo-p3{
    display:flex;
    gap:6px;
    align-items:center;
}

.porcentagem-p3{
    background:#ffd6e1;
    padding:3px;
    border-radius:4px;
}

.antigo-p3{
    text-decoration:line-through;
}

.gratis-p3{
    background:#d8dafd;
    color:#3b44f6;
    width:127px;
    text-align:center;
    padding:4px;
    border-radius:4px;
}
 }

 & #coming{

    .lancamentos-p4{
     background-color: #0E0E0E;
    padding: 50px 362px 80px 362px;
}

.titulo-p4{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.jogo-grande-p4 .botao-p4{
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.conteudo-p4{
    display: flex;
    gap: 24px;
}

.esquerda-p4{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.direita-p4{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.jogo-grande-p4{
    width:633px;
    height:399px;
    position:relative;
    overflow:hidden;
    border-radius:8px;
}

.imagem-grande-p4{
    width:100%;
    height:100%;
    object-fit:cover;
}

.jogo-pequeno-p4{
    width:447px;
    flex:1;
    position:relative;
    overflow:hidden;
    border-radius:8px;
}

.imagem-pequena-p4{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-p4{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.nome-grande-p4{
    position: absolute;
    left: 20px;
    bottom: 70px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    max-width: 400px;
}

.nome-pequeno-p4{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 250px;
}

.botao-p4{
    border: 1px solid white;
    border-radius: 6px;
    width: 95px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-botao-p4{
    color: white;
    font-size: 12px;
}
 }

 .gamers-satisfed {
    .avaliacoes-p5{
    padding:80px 147px 120px 147px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:51px;
}

.cabecalho-p5{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:16px;
}

.titulo-p5{
    font-size:36px;
    font-weight:bold;
    text-align:center;
}

.texto-p5{
    width:473px;
    text-align:center;
    font-size:18px;
}

.lista-p5{
    width:986px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card-p5{
    background:white;
    border-radius:6px;
    padding:32px 24px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:24px;
    box-shadow:0 8px 10px rgba(164,164,164,0.07);
}

.card-meio-p5{
    padding:32px;
}

.foto-p5{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
}

.foto-maior-p5{
    width:110px;
    height:110px;
    border-radius:50%;
    object-fit:cover;
}

.info-p5{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:6px;
}

.nome-p5{
    font-size:20px;
    text-align:center;
}

.nome-maior-p5{
    font-size:24px;
    text-align:center;
}

.estrelas-p5{
    height:auto;
}

.comentario-p5{
    width:249px;
    text-align:center;
    font-size:14px;
}

.comentario-maior-p5{
    width:290px;
    text-align:center;
    font-size:15px;
}
 } 

 .final{
    
    .rodape-p6{
    background:#0e0e0e;
    padding:50px 92px 0 92px;

    display:flex;
    flex-direction:column;
    gap:65px;
}

.conteudo-p6{
    width:1096px;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin: 0 auto;
}

.logo-p6{
    padding:6px 10px;
}

.nome-p6{
    font-size:28px;
    color:#f5f4f9;
}

.roxo-p6{
    color:#5830f5;
}

.menu-p6,
.recursos-p6,
.redes-p6{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.titulo-p6{
    color:#f5f4f9;
    font-size:18px;
    font-weight:600;
}

.links-p6{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.links-p6 p{
    color:#a0a0a0;
    font-size:16px;
}

.icones-p6{
    display:flex;
    gap:16px;
}

.linha-p6{
    width:1096px;
    height:1px;
    background:#2c2c2c;
    margin: 0 auto;
}

.copyright-p6{
    color:#a0a0a0;
    text-align:center;
    padding-bottom:20px;
}
 }
}
